.good{
    color: green;
    font-size: 5rem;
}
.error{
    color: red;
    font-size: 5rem;
}
.rango_err{
    color: red;
    background-color: black ;
    font-size: 5rem;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    margin: 100px auto;
}